name: CI

# Trigger the workflow on pushes to the main branch and on pull requests targeting the main branch.
# Also allow manual triggering of the workflow.
on:
  push:
    branches: [ main ]
  pull_request:

  # Allows running this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # https://launchpad.net/~swi-prolog/+archive/ubuntu/devel
      # Assume that SWI-Prolog is not available by default on GitHub-hosted runners.
      # Also assume that the runner comes with the software-properties-common package pre-installed.
      - name: Install SWI-Prolog
        run: |
          sudo apt-add-repository ppa:swi-prolog/devel
          sudo apt-get update
          sudo apt-get install swi-prolog

      - name: Check installation
        run: swipl -g check_installation -t halt

      - name: Test coverage
        env:
          GHAPI_ACCESS_TOKEN: ${{secrets.GHAPI_ACCESS_TOKEN}}
          CANNY_COV_GIST_ID: ${{secrets.CANNY_COV_GIST_ID}}
        run: swipl -g "attach_packs(..)" -g "[library(canny/cov)]" -s prolog/canny/cov.pl -g cov -t halt
